server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nest
    driver-class-name: com.mysql.cj.jdbc.Driver
    user: root
    password: alska963

  aop:
    proxy-target-class: true

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    deserialization:
      ADJUST_DATES_TO_CONTEXT_TIME_ZONE: false


    # jpa Setting
    jpa:
      hibernate:
        ddl-auto: none
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL5InnoDBDialect
          format_sql: true
      #        show_sql: true
      #        use_sql_comments: true
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect